<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <!--    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>-->
    <!--===============================================================================================-->
    <!--    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!--===============================================================================================-->
    <!--    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--===============================================================================================-->
    <!--    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">-->
    <!--===============================================================================================-->
    <!--    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">-->
    <!--===============================================================================================-->
    <!--    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/acb/css/util.css">
    <link rel="stylesheet" type="text/css" href="/acb/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="my-wrap-login100-align-center">
            <div id="title">최근 소비 리스트(현재는 금일 기준 3일치)</div>

            <div id="myTable"></div>

            <a class="txt2" onclick = "registerTran()">
                소비 입력하러 가기
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    window.onload = function () {
        const defaultDates = 3

        $.ajax({
            url: "/acb//transaction/recent/days?days=" + defaultDates,
            type: "GET",
            dataType: "json",
            success: function(data) {
                createTableFromData(data.transList, 'yyyymmdd')
            }
        })

    }


    function registerTran() {
        window.location.href = "/acb/view/tran";
    }

    function createTableFromData(data, dateField) {
        var table = document.createElement('table');
        table.style = "width: 100%; text-align: center;"
        var fields = data;

        // 테이블 헤더 생성
        //초기화 해주는 로직은 서버로부터 전달받은 데이터들을 yyyymmdd 기준으로 파싱해서 yyyymmdd 을 distinct 으로 추출하는 과정임
        var trList = [...new Set(data.map(item => item['yyyymmdd']))]
        // trList = getDatesFromToday(3)
        var headerRow = document.createElement('tr');
        trList.forEach(function(field) {
            var th = document.createElement('th');
            th.textContent = parseYyymmdd(field);
            th.style = "width: 33%; text-align: center;"
            headerRow.appendChild(th);
        });
        table.appendChild(headerRow);

        // 데이터 행 생성
        data.forEach(function(rowData) {

            // var row = document.createElement('tr');
            // fields.forEach(function(field) {
            //     var cell = document.createElement('td');
            //     cell.textContent = rowData[field];
            //     row.appendChild(cell);
            // });
            // table.appendChild(row);

            // 테이블 요소 생성
            const subtable = document.createElement('table');
            const thead = document.createElement('thead');
            const tbody = document.createElement('tbody');

            // 테이블 헤더 생성
            const headerRow = document.createElement('tr');
            for (const key in rowData) {
                const th = document.createElement('th');
                th.textContent = key;
                // headerRow.appendChild(th);
            }
            // thead.appendChild(headerRow);
            // subtable.appendChild(thead);

            // 테이블 데이터 생성
            const dataRow = document.createElement('tr');
            for (const key in rowData) {
                if(key == 'yyyymmdd') continue;
                const td = document.createElement('td');
                td.textContent = rowData[key];
                dataRow.appendChild(td);
            }
            tbody.appendChild(dataRow);
            subtable.appendChild(tbody);
            table.appendChild(subtable);
        });

        // HTML 요소에 테이블 추가
        var container = document.getElementById('myTable'); // 테이블을 추가할 요소의 ID
        container.appendChild(table);
    }

    function parseYyymmdd(yyyymmdd) {
        var year = yyyymmdd.substring(0, 4);
        var month = yyyymmdd.substring(4, 6);
        var day = yyyymmdd.substring(6, 8);

        return year + "-" + month + "-" + day;
    }

    function getDatesFromToday(cnt) {
        var dates = [];
        var today = new Date();

        for (var i = 0; i < cnt; i++) {
            var date = new Date(today);
            date.setDate(today.getDate() - i);

            var year = date.getFullYear();
            var month = (date.getMonth() - 1).toString().padStart(2, '0');
            var day = date.getDate().toString().padStart(2, '0');

            var yyyymmdd = year + month + day;
            dates.push(yyyymmdd);
        }

        return dates;
    }

</script>

</body>
</html>