<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

<form class="login100-form validate-form" onsubmit="findId(); return false;" style="alignment: center">
    <span class="login100-form-title"></span>
    <div class="wrap-input100 validate-input">
        <input class="input100" type="text" id="name" name="name" placeholder="회원가입한 이름">
        <span class="focus-input100"></span>
        <span class="symbol-input100"></span>
    </div>

    <div class="container-login100-form-btn">
        <button class="login70-form-btn">
            회원 정보 조회
        </button>
    </div>

</form>


<!--===============================================================================================-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function findId() {
        console.log("name : " + $("#name").val());
        $.ajax({
            url: "/user/find/name?name=" + $("#name").val(),
            type: "GET",
            contentType: "application/json",

            success: function (data) {
                console.log(data);
                alert("로그인 시 사용하는 ID : " + data.id + "\n이름 : " + data.name + "\n로그인 시 사용하는 비밀번호 : " + data.password + "\n !!!!해당 알람창은 닫힙니다!!!!");
                window.close();
            },
            error: function (data) {
                console.log(data);
                alert($("#name").val() + " << 해당 이름으로 가입한 회원 정보가 없습니다!");
            }
        });
    }
</script>
<!--===============================================================================================-->
<!--<script src="/js/main.js"></script>-->

</body>
</html>