<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

<form class="login100-form validate-form" onsubmit="findId(); return false;">
    <span class="login100-form-title"></span>
    <div class="wrap-input100 validate-input">
        <input class="input100" type="text" id="id" name="id" placeholder="Id">
        <span class="focus-input100"></span>
        <span class="symbol-input100"></span>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Login
        </button>
    </div>

</form>


<!--===============================================================================================-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function findId() {
        console.log("name : " + $("#name").val());
        $.ajax({
            url: "/user/find/name?name=" + $("#name").val(),
            type: "GET",
            contentType: "application/json",

            success: function (data) {
                console.log(data);
                alert("UserID : " + data.id + ", UserName : " + data.name + ", UserPwd : " + data.pwd);
            },
            error: function (data) {
                console.log(data);
                alert("서버에서 실패");
            }
        });
    }
</script>
<!--===============================================================================================-->
<!--<script src="/js/main.js"></script>-->

</body>
</html>